<% if (theme.effect.archive) {%>
  <div class="category-container">
  <%- partial('_partial/header_effect') %>
  <hr/>
  <%- partial('_partial/archive_effect', {pagination: config.category, index: true}) %>
  </div>
<% } else { %>
<div class="category-container">
  <%- partial('_partial/header') %>
  <hr/>
  <%- partial('_partial/archive', {pagination: config.category, index: true}) %>
</div>
<% } %>
