<div class="home">
  <div class="content">
    <div class="profile">
      <h1 class="nickname"><%= theme.nickname %></h1>
      <div class="description">
        <p><%- markdown(theme.description) %></p>
      </div>
    </div>
    <hr/>
    <ul class="links">
      <% for (var key in theme.links) { %>
        <li>
          <a href="<%= theme.links[key] %>"><%= key %></a>
        </li>
      <% } %>
    </ul>
  </div>
</div>

<script>

  var cfg={
    'page':'index',
    <% if (theme.effect.orbit_control){ %>
      'orbit_control':true,
    <% }else{ %>
      'orbit_control':false,
    <% } %>
    <% if (theme.effect.bird){ %>
      'bird':true,
    <% }else{ %>
        'bird':false,
    <% } %>
    <% if (theme.effect.sky){ %>
      'sky':true,
    <% }else{ %>
      'sky':false
    <% } %>
  }
  
</script>
