<div class="category-container">
  <%- partial('_partial/header') %>
  <hr/>
  <% if(theme.mode=='three') {%>
    <%- partial('_partial/archive_effect', {pagination: config.tag, index: true}) %>
  <%}else{%>
    <%- partial('_partial/archive_post', {pagination: config.tag, index: true}) %>
  <%}%>
</div>
